.navbar {
  display: flex;
  flex-wrap: wrap;
  padding: var(--navbar-vertical-padding) 1.75rem;
  position: relative;
}

.logo {
  aspect-ratio: 583 / 167; /* Nacho y alto original de la imagen, conservo la relación de aspecto */
  position: relative; /* Dado que especifiqué fill en el jsx */
  width: 130px;
}

.logo img {
  max-width: 100%;
}
