.form {
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 500px;
  padding: 2.25rem 1.75rem 0 1.75rem;
  width: 100%;
}

.form button {
  margin-top: 1rem;
}

.form input,
.form textarea {
  border: var(--orange-900) 1px solid;
  border-radius: 0.25em;
  min-height: 30px;
  padding: 1em;
  width: 100%;
}

.form textarea {
  min-height: 175px;
}

.form input::placeholder {
  color: var(--gray-600);
}

.formCustomError {
  color: #ff5555;
  font-size: 0.85rem;
}

.formRow {
  display: flex;
  margin: 0.5rem 0;
}

@media (min-width: 1200px) {
  .form {
    padding: 0 1.75rem;
  }
}
