.section {
  display: flex;
  flex-direction: column-reverse;
  gap: 2rem;
  margin: 0 auto;
  max-width: 760px;
  padding: calc(var(--vertical-container-padding) / 2) 0.75rem;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
}

.imageWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.imageWrapper > img {
  border-radius: 0.5rem;
  height: auto;
  max-width: 500px;
  width: 100%;
}

.tagContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  max-width: 500px;
  width: 100%;
}

.tagContainer div {
  border-radius: 1.5rem;
  border: var(--blue-800) 1px solid;
  color: var(--blue-800);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-bold);
  max-width: 175px;
  padding: 0.75em;
  text-align: center;
  width: 100%;
}

.text {
  display: flex;
  flex-direction: column;
}

.text .title {
  font-size: var(--font-size-4xl);
  line-height: 128%;
  margin-bottom: 2rem;
  text-align: center;
}

.text .subtitle {
  color: var(--orange-900);
  font-size: var(--font-size-xl);
  margin-bottom: 1.5rem;
  text-align: center;
}

.text p {
  font-size: var(--font-size-lg);
  line-height: 150%;
  margin-bottom: 2rem;
}

.text p span {
  color: var(--blue-900);
}

.text p:last-child {
  margin-bottom: 0;
}

@media (min-width: 500px) {
  .tagContainer {
    flex-direction: row;
  }
}

@media (min-width: 1200px) {
  .section {
    flex-direction: row;
    justify-content: space-between;
    max-width: 1280px;
  }

  .content {
    justify-content: start;
  }

  .text {
    max-width: 725px;
  }

  .text .title {
    text-align: left;
  }

  .text .subtitle {
    text-align: left;
  }
}
