.form {
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  max-width: 450px;
  width: 100%;
}

.form button {
  margin-top: 1rem;
  max-width: none;
}

.form input,
.form select,
.form textarea {
  border: var(--orange-900) 1px solid;
  border-radius: 0.25em;
  min-height: 30px;
  padding: 1em;
  width: 100%;
}

.form select {
  -webkit-appearance: none;
  appearance: none;
  background-image: url("/images/keyboard-arrow-down.svg");
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: calc(100% - 8px) center;
}

.form select option {
  color: #000;
}

.form textarea {
  min-height: 175px;
}

.form input::placeholder,
.form textarea::placeholder {
  color: var(--gray-900);
}

.formCustomError {
  color: #ff5555;
  font-size: 0.85rem;
}

.formRow {
  display: flex;
  margin: 0.5rem 0;
}

.prefix {
  align-items: center;
  border: 1px solid var(--orange-900);
  border-radius: 4px;
  display: flex;
  overflow: hidden;
  width: 100%;
}

.prefix:focus-within {
  outline: -webkit-focus-ring-color auto 1px;
  outline-offset: 1px;
}

.prefix svg {
  margin-left: 0.75rem;
  width: 24px;
  height: 24px;
}

.prefix span {
  background-color: transparent;
  color: #000;
  font-size: var(--font-size-xs);
  padding: 0 0 0 0.5rem;
}

.prefix input {
  border: none;
  outline: none;
  width: 100%;
}

@media (min-width: 1200px) {
  .form {
    padding: 0 1.75rem;
  }

  .form button {
    margin-left: auto;
    width: 200px;
  }
}
