.section {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: var(--max-container-width);
  padding: calc(var(--vertical-container-padding) / 2) 0.75rem;
}

.header {
  margin-bottom: 2rem;
  max-width: 500px;
  width: 100%;
}

.header > img {
  margin-bottom: 2rem;
}

.title {
  font-size: var(--font-size-4xl);
  line-height: 128%;
  margin-bottom: 1.25rem;
}

.title span {
  color: var(--orange-900);
}

.subtitle {
  font-size: var(--font-size-xl);
  line-height: 128%;
  margin-bottom: 2rem;
}

.text {
  font-size: var(--font-size-lg);
  line-height: 150%;
}

.heroImageWrapper,
.cardsImageWrapper {
  max-width: 500px;
  width: 100%;
}

.heroImageWrapper img,
.cardsImageWrapper img {
  height: auto;
  width: 100%;
}

.cardsImageWrapper {
  margin-top: calc(var(--vertical-container-padding) / 2);
}

.cardsTitle {
  line-height: 128%;
  margin: 0 auto 3rem auto;
  max-width: 500px;
}

.containerWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.container {
  background-color: var(--gray-100);
  border-radius: 0.5rem;
  max-width: 700px;
  padding: 3em;
  width: 100%;
}

.container .subtitle {
  margin-top: 0;
}

.item {
  align-items: center;
  display: flex;
  font-size: var(--font-size-xs);
  gap: 0.25rem;
  line-height: 150%;
  margin-bottom: 1rem;
}

.item:last-of-type {
  margin-bottom: 0;
}

.container:last-of-type .item {
  align-items: flex-start;
}

@media (min-width: 992px) {
  .cardsImageWrapper {
    max-width: none;
  }
}

@media (min-width: 1200px) {
  .section {
    padding: calc(var(--vertical-container-padding) / 2) 3.75rem;
  }

  .section:first-of-type {
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
  }

  .header {
    margin-bottom: 0;
  }

  .heroImageWrapper {
    max-width: 600px;
  }

  .controlImageWrapper {
    margin-bottom: 0;
  }

  .cardsTitle {
    text-align: center;
  }

  .containerWrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .container {
    min-height: 540px;
    max-width: none;
    padding: 3em 2em;
  }

  .containerWrapper .container {
    max-width: 500px;
  }

  .container:first-of-type {
    margin-bottom: 0;
  }
}

@media (min-width: 1366px) {
  .container {
    min-height: 475px;
  }
}
