.container {
  align-items: center;
  background-color: var(--blue-100);
  display: flex;
  flex-wrap: wrap;
  font-size: var(--font-size-xs);
  gap: 1rem;
  justify-content: center;
  padding: 1rem 1.75rem;
}

@media (min-width: 768px) {
  .container {
    justify-content: flex-end;
  }
}
