.embla {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.emblaViewport {
  overflow: hidden;
  width: 100%;
}

.emblaContainer {
  display: flex;
}

.emblaSlide {
  position: relative;
  min-width: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
}

.image {
  border-radius: 0.5rem;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.dots {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: lightgray;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dot.active {
  background-color: var(--blue-800);
}
