@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
/* General styling */
*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* Aplico font:inherit y margin:0 a estos elementos para asegurarme su reseteo (también por si uso Bootstrap) */
h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
textarea,
button,
select {
  font: inherit;
  margin: 0;
}

.button-primary {
  background-color: #312780;
  border-radius: 0.5rem;
  color: #fff;
  font-weight: 700;
  padding: 0.5em 1.25em;
  text-decoration: none;
}
.button-primary:hover {
  background-color: #004f7b;
  color: #fff;
}

.text-bold {
  font-weight: 700;
}

.text-orange {
  color: #ea7d00;
}

.text-underline {
  text-decoration: underline;
}

.wrapper {
  /* Agrego un wrapper de max-width 1600px para lidiar con el stretching en dispositivos grandes */
  margin: 0 auto;
  max-width: 1600px;
}

.header nav {
  background-color: #fff;
  padding: 1.25rem 0.75rem;
}
@media only screen and (min-width: 1200px) {
  .header nav {
    padding: 1.25rem 1.5rem;
  }
}
@media only screen and (min-width: 1500px) {
  .header nav {
    padding: 1.25rem 4rem;
  }
}
.header nav .container-fluid {
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
}
@media only screen and (min-width: 1200px) {
  .header nav .container-fluid {
    padding: 0.75rem 0;
  }
}
.header nav .container-fluid .navbar-toggler {
  border: 0;
  font-size: 1rem;
}
.header nav .container-fluid .navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.header nav .container-fluid .navbar-toggler .navbar-toggler-icon {
  background-image: url("./../media/hamburger.svg");
}
@media only screen and (min-width: 1200px) {
  .header nav .container-fluid .navbar-collapse {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
.header nav .container-fluid .navbar-collapse .navbar-nav {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media only screen and (min-width: 1200x) {
  .header nav .container-fluid .navbar-collapse .navbar-nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.header nav .container-fluid .navbar-collapse .navbar-nav .nav-link {
  color: #312780;
  font-size: 1.25rem;
  margin: 0.25rem 0;
}
@media only screen and (min-width: 1200px) {
  .header nav .container-fluid .navbar-collapse .navbar-nav .nav-link {
    margin: 0 0.75rem;
    padding: 0.5rem 0;
  }
}
.header nav .container-fluid .navbar-collapse .navbar-nav .nav-link:hover {
  background-color: #efefef;
  color: #000;
}
.header nav .container-fluid .navbar-collapse .navbar-nav .nav-link:last-child {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.5rem;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5em 1.25em;
}
.header nav .container-fluid .navbar-collapse .navbar-nav .nav-link:last-child:hover {
  background-color: #004f7b;
  color: #fff;
}

#carousel {
  margin: 7.5rem auto 0 auto;
  max-width: 500px;
}
@media only screen and (min-width: 992px) {
  #carousel {
    max-width: none;
    width: 100%;
  }
  #carousel .carousel-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1em 0;
  }
  #carousel .carousel-item {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
    margin-right: 0;
  }
}
#carousel .card {
  border: 0;
  margin: 0 0.75rem 0 0;
}
#carousel .card .card-title {
  background-color: #0981c4;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  margin: 0;
  max-width: 250px;
  padding: 0.75em 1.25em;
}
#carousel .carousel-control-prev,
#carousel .carousel-control-next {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  height: 3rem;
  opacity: 1;
  -webkit-transition: none;
  transition: none;
  top: -5rem;
  width: 3rem;
}
#carousel .carousel-control-prev {
  left: auto;
  right: 3.5rem;
}
#carousel .carousel-control-prev-icon,
#carousel .carousel-control-next-icon {
  border-radius: 50%;
  height: 100%;
  padding: 1em;
  width: 100%;
}
#carousel .carousel-control-prev-icon {
  background-color: #312780;
  background-image: url("./../media/carousel__arrow-left.png");
}
#carousel .carousel-control-next-icon {
  background-color: #004f7b;
  background-image: url("./../media/carousel__arrow-right.png");
}

.main {
  padding-top: 113px;
  /* Como todos los headers de los articles tienen los mismos estilos, los agrupo acá para no repetir código */
}
.main .main__hero {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("./../media/background-lines-xl.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem 0.75rem 0 0.75rem;
}
@media only screen and (min-width: 768px) {
  .main .main__hero {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.main .main__hero .hero__content-header {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 450px;
}
@media only screen and (min-width: 1200px) {
  .main .main__hero .hero__content-header {
    max-width: 625px;
  }
}
.main .main__hero .hero__content-header h1 {
  color: #312780;
  font-size: 3rem;
  font-weight: 700;
  line-height: 3rem;
}
@media only screen and (min-width: 1200px) {
  .main .main__hero .hero__content-header h1 {
    font-size: 4rem;
    line-height: 70px;
  }
}
.main .main__hero .hero__content-header h1 br {
  display: none;
}
@media only screen and (min-width: 768px) {
  .main .main__hero .hero__content-header h1 br {
    display: block;
  }
}
.main .main__hero .hero__content-header .button-primary {
  margin: 1rem 0 0 0;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.main .main__hero .hero__content-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
@media only screen and (min-width: 768px) {
  .main .main__hero .hero__content-image {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
}
.main .main__hero .hero__content-image img {
  max-width: 800px;
  width: 100%;
}
.main .main__M1 {
  padding: 0 0.75rem;
  scroll-margin-top: 110px; /* Altura de la navbar +- ajuste */
}
.main .main__M1 .M1__article-quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 7.5rem 0.75rem 0 0.75rem;
}
@media only screen and (min-width: 992px) {
  .main .main__M1 .M1__article-quantity {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
@media only screen and (min-width: 1200px) {
  .main .main__M1 .M1__article-quantity {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    max-width: 1300px;
  }
}
.main .main__M1 .M1__article-quantity .quantity__content-info {
  margin: 3rem 0 0 0;
}
@media only screen and (min-width: 992px) {
  .main .main__M1 .M1__article-quantity .quantity__content-info {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin: 0;
  }
}
.main .main__M1 .M1__article-quantity .quantity__content-info .info__block {
  border-top: #ec8c1f 1px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 0;
}
.main .main__M1 .M1__article-quantity .quantity__content-info .info__block:last-of-type {
  border-bottom: #ec8c1f 1px solid;
}
.main .main__M1 .M1__article-quantity .quantity__content-info .info__block img {
  -ms-flex-item-align: center;
      align-self: center;
  width: 50px;
}
.main .main__M1 .M1__article-quantity .quantity__content-info .info__block > div {
  padding: 0 0.25rem 0 1.25rem;
}
.main .main__M1 .M1__article-quantity .quantity__content-info .info__block > div h4 {
  color: #312780;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 0 0.5rem 0;
}
.main .main__M1 .M1__article-quantity .quantity__content-info .info__block > div p {
  color: #333;
  font-size: 16px;
  line-height: 22px;
}
.main .main__M1 .M1__article-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 7.5rem 0.75rem 0 0.75rem;
}
@media only screen and (min-width: 992px) {
  .main .main__M1 .M1__article-location {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
@media only screen and (min-width: 1200px) {
  .main .main__M1 .M1__article-location {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    max-width: 1300px;
  }
}
.main .main__M1 .M1__article-location .location__content-header {
  padding: 0 0 2rem 0;
}
.main .main__M1 .M1__article-location .location__content-header .button-primary {
  margin: 0 auto 0 0;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
@media only screen and (min-width: 992px) {
  .main .main__M1 .M1__article-location .location__content-header {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}
.main .main__M1 .M1__article-location .location__content-info {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media only screen and (min-width: 992px) {
  .main .main__M1 .M1__article-location .location__content-info {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}
.main .main__M1 .M1__article-technology {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 7.5rem 0.75rem 0 0.75rem;
}
@media only screen and (min-width: 992px) {
  .main .main__M1 .M1__article-technology {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
@media only screen and (min-width: 1200px) {
  .main .main__M1 .M1__article-technology {
    margin: 0 auto;
    max-width: 1300px;
  }
}
@media only screen and (min-width: 992px) {
  .main .main__M1 .M1__article-technology .technology__content-header {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
}
.main .main__M1 .M1__article-technology .technology__content-header h2 {
  line-height: normal;
  max-width: none;
}
.main .main__M1 .M1__article-technology .technology__content-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media only screen and (min-width: 992px) {
  .main .main__M1 .M1__article-technology .technology__content-text {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    max-width: 370px;
  }
}
.main .main__M1 .M1__article-technology .technology__content-text p {
  font-size: 1.5rem;
}
.main .main__M1 .M1__article-technology .technology__content-text a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #312780;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.25rem;
  font-weight: 700;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1rem 0 0 0;
  text-decoration: none;
  width: 150px;
}
.main .main__M1 .M1__article-technology .technology__content-text a:hover {
  color: #ec8c1f;
}
.main .main__M1 .M1__article-technology .technology__content-text a:hover svg {
  fill: #ec8c1f;
}
.main .main__M1 .M1__article-technology .technology__content-text a svg {
  fill: #312780;
}
.main .main__M1 .M1__article-technology .technology__content-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media only screen and (min-width: 992px) {
  .main .main__M1 .M1__article-technology .technology__content-image {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
}
.main .main__M1 .M1__article-integration h2 {
  color: #312780;
  font-size: 3rem;
  font-weight: 700;
  line-height: normal;
}
.main .main__M1 .M1__article-integration p {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 34px;
  margin: 2.5rem 0;
}
.main .main__M1 .M1__article-integration .integration__content-main {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 7.5rem 1.5rem 0 1.5rem;
}
@media only screen and (min-width: 992px) {
  .main .main__M1 .M1__article-integration .integration__content-main {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
@media only screen and (min-width: 1200px) {
  .main .main__M1 .M1__article-integration .integration__content-main {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    max-width: 1300px;
  }
}
.main .main__M1 .M1__article-integration .integration__content-main .main__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 500px;
}
@media only screen and (min-width: 992px) {
  .main .main__M1 .M1__article-integration .integration__content-main .main__image {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    max-width: none;
  }
}
.main .main__M1 .M1__article-integration .integration__content-main .main__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 475px;
}
@media only screen and (min-width: 992px) {
  .main .main__M1 .M1__article-integration .integration__content-main .main__block {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
}
.main .main__M1 .M1__article-integration .integration__content-main .main__block h2 {
  margin: 1rem 0;
}
.main .main__M1 .M1__article-integration .integration__content-main .main__block > img {
  margin: 0 0 0.75rem 0;
  max-width: 300px;
}
.main .main__M1 .M1__article-integration .integration__content-main .main__block p {
  margin: 0.75rem;
}
.main .main__M1 .M1__article-control {
  padding: 7.5rem 0.75rem;
}
@media only screen and (min-width: 1200px) {
  .main .main__M1 .M1__article-control {
    margin: 0 auto;
    max-width: 1300px;
  }
}
.main .main__M1 .M1__article-control .control__content-header {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media only screen and (min-width: 992px) {
  .main .main__M1 .M1__article-control .control__content-header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    width: 100%;
  }
}
.main .main__M1 .M1__article-control .control__content-header h2 {
  color: #312780;
  font-size: 34px;
  font-weight: 700;
  line-height: normal;
}
.main .main__M1 .M1__article-control .control__content-header > img {
  margin: 1rem 0;
}
@media only screen and (min-width: 992px) {
  .main .main__M1 .M1__article-control .control__content-header > img {
    -ms-flex-item-align: center;
        align-self: center;
    height: 100%;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    width: 125px;
  }
}
.main .main__M1 .M1__article-control .control__content-header > p {
  color: #333;
  font-size: 1.5rem;
  line-height: 34px;
}
@media only screen and (min-width: 992px) {
  .main .main__M1 .M1__article-control .control__content-header > p {
    max-width: 500px;
  }
}
@media only screen and (min-width: 1200px) {
  .main .main__M1 .M1__article-control .control__content-header > p {
    max-width: 900px;
  }
}
.main .quantity__content-header,
.main .location__content-header,
.main .technology__content-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 475px;
}
@media only screen and (min-width: 768px) {
  .main .quantity__content-header,
  .main .location__content-header,
  .main .technology__content-header {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin: 0 1rem 0 0;
    max-width: 500px;
  }
}
.main .quantity__content-header h2,
.main .location__content-header h2,
.main .technology__content-header h2 {
  color: #312780;
  font-size: 34px;
  font-weight: 700;
  line-height: normal;
  max-width: 360px;
}
.main .quantity__content-header p,
.main .location__content-header p,
.main .technology__content-header p {
  color: #333;
  font-size: 1.5rem;
  line-height: 34px;
  margin: 1rem 0;
}
.main .quantity__content-header ul,
.main .location__content-header ul,
.main .technology__content-header ul {
  list-style-image: url("./../media/bullet.svg");
  margin: 0 auto 0 0;
  padding: 0 0 0 1rem;
}
.main .quantity__content-header ul li,
.main .location__content-header ul li,
.main .technology__content-header ul li {
  color: #312780;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 34px;
}
.main .quantity__content-header a,
.main .location__content-header a,
.main .technology__content-header a {
  margin: 1rem 0;
}
.main .main__M2 {
  background-color: #0981c4;
}
.main .main__M2 .M2__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5rem 1.5rem;
}
@media only screen and (min-width: 992px) {
  .main .main__M2 .M2__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media only screen and (min-width: 1200px) {
  .main .main__M2 .M2__container {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 0 auto;
    max-width: 1300px;
  }
}
@media only screen and (min-width: 992px) {
  .main .main__M2 .M2__container .M2__content-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 1rem 0 0;
    max-width: 700px;
  }
}
.main .main__M2 .M2__container .M2__content-header h2 {
  color: #fff;
  font-size: 4rem;
  font-weight: 700;
  line-height: normal;
  margin: 0 0 1.5rem 0;
}
.main .main__M2 .M2__container .M2__content-header p {
  color: #fff;
  font-size: 1.5rem;
  margin: 1rem 0;
}
@media only screen and (min-width: 1200px) {
  .main .main__M2 .M2__container .M2__content-header p {
    max-width: 500px;
  }
}
.main .main__M2 .M2__container .M2__content-header p:last-of-type {
  font-weight: 500;
  margin: 1rem 0 0 0;
}
.main .main__M2 .M2__container .M2__content-header > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.main .main__M2 .M2__container .M2__content-header > div img {
  margin: 0.5rem;
  max-width: 125px;
  width: 100%;
}
.main .main__M2 .M2__container .M2__content-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media only screen and (min-width: 992px) {
  .main .main__M2 .M2__container .M2__content-info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 0 0 1rem;
    max-width: 800px;
  }
}
.main .main__M2 .M2__container .M2__content-info .info__container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem 0;
}
@media only screen and (min-width: 992px) {
  .main .main__M2 .M2__container .M2__content-info .info__container {
    margin: 0 0 2rem 0;
    max-width: 700px;
  }
}
.main .main__M2 .M2__container .M2__content-info .info__container svg {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 0;
}
.main .main__M2 .M2__container .M2__content-info .info__container p {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 34px;
  margin: 0 0 0 1rem;
}
.main .main__M2 .M2__container .M2__content-info > img {
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
}
@media only screen and (min-width: 992px) {
  .main .main__M2 .M2__container .M2__content-info > img {
    max-width: none;
    width: 100%;
  }
}
.main .main__M3 {
  padding: 7.5rem 0 0 0;
  scroll-margin-top: 110px; /* Altura de la navbar +- ajuste */
}
@media only screen and (min-width: 1200px) {
  .main .main__M3 .M3__article-you {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    max-width: 1300px;
  }
}
.main .main__M3 .M3__article-you .you__content-header {
  margin: 0 auto;
  max-width: 500px;
  padding: 0 0.75rem;
}
@media only screen and (min-width: 992px) {
  .main .main__M3 .M3__article-you .you__content-header {
    max-width: 530px;
  }
}
@media only screen and (min-width: 1200px) {
  .main .main__M3 .M3__article-you .you__content-header {
    margin: 0 auto 0 0;
    padding: 0 1.5rem;
  }
}
.main .main__M3 .M3__article-you .you__content-header h2 {
  color: #312780;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: normal;
}
@media only screen and (min-width: 400px) {
  .main .main__M3 .M3__article-you .you__content-header h2 {
    font-size: 3rem;
  }
}
.main .main__M3 .M3__article-you .you__content-header > p {
  font-size: 1.25rem;
  line-height: 34px;
  margin: 2rem 0;
}
@media only screen and (min-width: 400px) {
  .main .main__M3 .M3__article-you .you__content-header > p {
    font-size: 1.5rem;
  }
}
.main .main__M3 .M3__article-you .you__content-image.mobile {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 400px;
  margin: 7.5rem auto 0 auto;
  position: relative;
}
@media only screen and (min-width: 1200px) {
  .main .main__M3 .M3__article-you .you__content-image.mobile {
    display: none;
  }
}
.main .main__M3 .M3__article-you .you__content-image.mobile > img:nth-of-type(1) {
  left: 0;
  max-width: 80px;
  position: absolute;
  top: -82.52px; /* Tiene que ser exactamente el alto del svg */
}
.main .main__M3 .M3__article-you .you__content-image.mobile > img:nth-of-type(2), .main .main__M3 .M3__article-you .you__content-image.mobile > img:nth-of-type(3) {
  width: 100%;
}
.main .main__M3 .M3__article-you .you__content-image.mobile .image_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 2rem 0;
}
@media only screen and (min-width: 576px) {
  .main .main__M3 .M3__article-you .you__content-image.mobile .image_block {
    margin: 0 0 0 -50px;
  }
}
.main .main__M3 .M3__article-you .you__content-image.mobile .image_block h4 {
  color: #312780;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  margin: 0 0 1rem 0;
}
.main .main__M3 .M3__article-you .you__content-image.mobile .image_block .bar {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0981c4;
  border-radius: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20px;
  margin: 0 0 1rem 0;
  position: relative;
  width: 75%;
}
@media only screen and (min-width: 576px) {
  .main .main__M3 .M3__article-you .you__content-image.mobile .image_block .bar {
    min-width: 300px;
  }
}
.main .main__M3 .M3__article-you .you__content-image.mobile .image_block .bar:last-of-type {
  margin: 0;
}
.main .main__M3 .M3__article-you .you__content-image.mobile .image_block .bar::after {
  color: #ec8c1f;
  content: "100%";
  font-weight: 700;
  margin: 0 0 0 1rem;
  right: -50px;
  position: absolute;
}
.main .main__M3 .M3__article-you .you__content-image.desktop {
  background-image: url("./../media/collage-lg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
  min-height: 750px;
}
@media only screen and (min-width: 1200px) {
  .main .main__M3 .M3__article-you .you__content-image.desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
    max-width: 700px;
  }
}
.main .main__M3 .M3__article-you .you__content-image.desktop .image_block {
  background-color: #fff;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 2rem 0;
}
@media only screen and (min-width: 1200px) {
  .main .main__M3 .M3__article-you .you__content-image.desktop .image_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 6.5rem auto auto 2rem;
    max-width: none;
    width: 400px;
  }
}
.main .main__M3 .M3__article-you .you__content-image.desktop .image_block p {
  color: #312780;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  margin: 0 0 1rem 0;
}
.main .main__M3 .M3__article-you .you__content-image.desktop .image_block .bar {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0981c4;
  border-radius: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20px;
  margin: 0 0 1rem 0;
  min-width: 300px;
  position: relative;
  width: 75%;
}
.main .main__M3 .M3__article-you .you__content-image.desktop .image_block .bar:last-of-type {
  margin: 0;
}
.main .main__M3 .M3__article-you .you__content-image.desktop .image_block .bar::after {
  color: #ec8c1f;
  content: "100%";
  font-weight: 700;
  margin: 0 0 0 1rem;
  right: -50px;
  position: absolute;
}
.main .main__M3 .M3__article-we {
  padding: 7.5rem 0 0 0;
  position: relative;
}
.main .main__M3 .M3__article-we .we__content-header {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  max-width: 500px;
  padding: 0 0.75rem;
}
@media only screen and (min-width: 992px) {
  .main .main__M3 .M3__article-we .we__content-header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1300px;
    padding: 0 2rem;
  }
}
@media only screen and (min-width: 1200px) {
  .main .main__M3 .M3__article-we .we__content-header {
    max-width: 1300px;
    padding: 0 1.5rem;
  }
}
.main .main__M3 .M3__article-we .we__content-header h2 {
  color: #312780;
  font-size: 34px;
  font-weight: 700;
  line-height: normal;
}
@media only screen and (min-width: 1200px) {
  .main .main__M3 .M3__article-we .we__content-header h2 {
    max-width: 1300px;
  }
}
.main .main__M3 .M3__article-we .we__content-header > svg {
  margin: 0 0 0 3rem;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
@media only screen and (min-width: 992px) {
  .main .main__M3 .M3__article-we .we__content-header > svg {
    margin: 0 1rem;
    -webkit-transform: none;
            transform: none;
  }
}
.main .main__M3 .M3__article-we .we__content-header > p {
  color: #333;
  font-size: 1.5rem;
  line-height: 34px;
  max-width: 525px;
}
.main .main__M3 .M3__article-we .we__content-main {
  -ms-flex-line-pack: center;
      align-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5rem auto 0 auto;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 0 0.75rem;
  width: 100%;
}
@media only screen and (min-width: 992px) {
  .main .main__M3 .M3__article-we .we__content-main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    max-width: 750px;
    padding: 0;
  }
}
@media only screen and (min-width: 1366px) {
  .main .main__M3 .M3__article-we .we__content-main {
    -ms-flex-line-pack: start;
        align-content: start;
    height: 800px;
    max-width: 1300px;
  }
}
.main .main__M3 .M3__article-we .we__content-main .main__block {
  border-top: #0981c4 1px solid;
  max-width: 450px;
  padding: 2.5rem 0;
  width: 100%;
}
@media only screen and (min-width: 992px) {
  .main .main__M3 .M3__article-we .we__content-main .main__block {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1366px) {
  .main .main__M3 .M3__article-we .we__content-main .main__block {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
}
@media only screen and (min-width: 1366px) {
  .main .main__M3 .M3__article-we .we__content-main .main__block:nth-of-type(4) {
    margin: 0 0 0 1.25rem;
  }
}
@media only screen and (min-width: 992px) {
  .main .main__M3 .M3__article-we .we__content-main .main__block:last-of-type {
    margin: 0 auto 0 1rem;
  }
}
@media only screen and (min-width: 1366px) {
  .main .main__M3 .M3__article-we .we__content-main .main__block:last-of-type {
    margin: 0 0 0 2.75rem;
  }
}
.main .main__M3 .M3__article-we .we__content-main .main__block h3 {
  color: #312780;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: normal;
  margin: 1rem 0 1.5rem 0;
}
.main .main__M3 .M3__article-we .we__content-main .main__block p {
  color: #333;
}
.main .main__M3 .M3__article-we > img {
  margin: 0 0 0 auto;
  max-width: 400px;
  width: 100%;
}
@media only screen and (min-width: 992px) {
  .main .main__M3 .M3__article-we > img {
    bottom: 0;
    max-width: 325px;
    position: absolute;
    right: 0;
  }
}
@media only screen and (min-width: 1200px) {
  .main .main__M3 .M3__article-we > img {
    max-width: 375px;
  }
}
@media only screen and (min-width: 1366px) {
  .main .main__M3 .M3__article-we > img {
    max-width: 500px;
  }
}
.main .main__M4 {
  background-color: #ec8c1f;
}
.main .main__M4 .M4__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  max-width: 1300px;
  padding: 5rem 0.75rem;
}
@media only screen and (min-width: 992px) {
  .main .main__M4 .M4__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    min-height: 600px;
    padding: 0 2rem;
  }
}
@media only screen and (min-width: 1200px) {
  .main .main__M4 .M4__container {
    padding: 0 1.5rem;
  }
}
.main .main__M4 .M4__container .M4__content-info {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 5rem 0;
}
@media only screen and (min-width: 992px) {
  .main .main__M4 .M4__container .M4__content-info {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    margin: 0 auto 0 0;
  }
}
.main .main__M4 .M4__container .M4__content-info .info__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 400px;
}
.main .main__M4 .M4__container .M4__content-info .info__container h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: normal;
  margin: 0 0 2rem 0;
}
.main .main__M4 .M4__container .M4__content-info .info__container p {
  font-size: 1.75rem;
  line-height: 34px;
  font-weight: 500;
  margin: 0;
}
.main .main__M4 .M4__container .M4__content-info .info__container .button-primary {
  margin: 1rem 0 0 0;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.main .main__M4 .M4__container .M4__content-video {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  width: 100%;
}
@media only screen and (min-width: 992px) {
  .main .main__M4 .M4__container .M4__content-video {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
}
.main .main__M4 .M4__container .M4__content-video iframe {
  height: auto;
  max-width: 530px;
  width: 100%;
}
@media only screen and (min-width: 400px) {
  .main .main__M4 .M4__container .M4__content-video iframe {
    height: 350px;
  }
}
@media only screen and (min-width: 992px) {
  .main .main__M4 .M4__container .M4__content-video iframe {
    height: 450px;
    max-width: 700px;
  }
}
.main .main__M5 {
  padding: 7.5rem 0.75rem;
  scroll-margin-top: 110px; /* Altura de la navbar +- ajuste */
}
@media only screen and (min-width: 1200px) {
  .main .main__M5 {
    padding: 7.5rem 0;
  }
}
.main .main__M5 .M5__content-header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto 2.5rem auto;
}
@media only screen and (min-width: 1200px) {
  .main .main__M5 .M5__content-header {
    max-width: 1300px;
    padding: 0 1.5rem;
  }
}
.main .main__M5 .M5__content-header .header__text {
  max-width: 525px;
  padding: 0 0.75rem;
  text-align: center;
}
@media only screen and (min-width: 992px) {
  .main .main__M5 .M5__content-header .header__text {
    max-width: 600px;
  }
}
@media only screen and (min-width: 1200px) {
  .main .main__M5 .M5__content-header .header__text {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    max-width: 525px;
    padding: 0;
  }
}
.main .main__M5 .M5__content-header .header__text h2 {
  color: #312780;
  font-size: 3rem;
  font-weight: 700;
  line-height: normal;
}
.main .main__M5 .M5__content-header .header__text > p {
  color: #333;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 34px;
  margin: 2rem 0;
}
.main .main__M5 .M5__content-cards {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media only screen and (min-width: 1200px) {
  .main .main__M5 .M5__content-cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.main .main__M5 .M5__content-cards .cards__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media only screen and (min-width: 768px) {
  .main .main__M5 .M5__content-cards .cards__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media only screen and (min-width: 768px) {
  .main .main__M5 .M5__content-cards .cards__container:first-of-type .container__card:nth-child(1) {
    margin: 0 1rem 1rem 0;
  }
  .main .main__M5 .M5__content-cards .cards__container:first-of-type .container__card:nth-child(2) {
    margin: 0 0 1rem 0;
  }
}
@media only screen and (min-width: 1200px) {
  .main .main__M5 .M5__content-cards .cards__container:first-of-type .container__card:nth-child(1), .main .main__M5 .M5__content-cards .cards__container:first-of-type .container__card:nth-child(2) {
    margin: 0 1rem 0 0;
  }
}
@media only screen and (min-width: 768px) {
  .main .main__M5 .M5__content-cards .cards__container:last-of-type .container__card:nth-child(1) {
    margin: 0 1rem 0 0;
  }
  .main .main__M5 .M5__content-cards .cards__container:last-of-type .container__card:nth-child(2) {
    margin: 0;
  }
}
.main .main__M5 .M5__content-cards .cards__container .container__card {
  -webkit-box-shadow: 0px 4px 10px 0px rgba(164, 162, 162, 0.25);
          box-shadow: 0px 4px 10px 0px rgba(164, 162, 162, 0.25);
  margin: 0 0 1rem 0;
  max-width: 400px;
  padding: 2rem;
  width: 100%;
}
@media only screen and (min-width: 1200px) {
  .main .main__M5 .M5__content-cards .cards__container .container__card {
    height: 342px;
    max-width: 250px;
  }
}
.main .main__M5 .M5__content-cards .cards__container .container__card h4 {
  color: #312780;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: normal;
  margin: 1rem 0 2rem 0;
}
.main .main__M5 .M5__content-cards .cards__container .container__card p {
  line-height: 24px;
}
.main .main__M6 .M6__content-header {
  background-image: url("./../media/background-tires-500.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 7.5rem 0.75rem;
}
@media only screen and (min-width: 500px) {
  .main .main__M6 .M6__content-header {
    background-image: url("./../media/background-tires-800.png");
  }
}
@media only screen and (min-width: 800px) {
  .main .main__M6 .M6__content-header {
    background-image: url("./../media/background-tires-1200.png");
  }
}
@media only screen and (min-width: 1200px) {
  .main .main__M6 .M6__content-header {
    background-image: url("./../media/background-tires-1600.png");
    padding: 7.5rem 0;
  }
}
.main .main__M6 .M6__content-header .header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  max-width: 600px;
  padding: 0 0.75rem;
  width: 100%;
}
@media only screen and (min-width: 1200px) {
  .main .main__M6 .M6__content-header .header__block {
    max-width: 1300px;
  }
}
.main .main__M6 .M6__content-header .header__block h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: normal;
}
.main .main__M6 .M6__content-header .header__block p {
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 34px;
  margin: 1.5rem 0 3rem 0;
}
.main .main__M6 .M6__content-header .header__block .button-primary {
  background-color: #ec8c1f;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.main .main__M6 .M6__content-header .header__block .button-primary:hover {
  background-color: #0981c4;
}
.main .main__M7 h2 {
  color: #312780;
  font-size: 3rem;
  font-weight: 700;
  line-height: normal;
}
.main .main__M7 p {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 34px;
  margin: 2.5rem 0;
}
.main .main__M7 .M7__content-header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 7.5rem 1.5rem;
}
@media only screen and (min-width: 992px) {
  .main .main__M7 .M7__content-header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
@media only screen and (min-width: 1200px) {
  .main .main__M7 .M7__content-header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    max-width: 1300px;
  }
}
.main .main__M7 .M7__content-header .header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 475px;
}
@media only screen and (min-width: 992px) {
  .main .main__M7 .M7__content-header .header__block {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
}
.main .main__M7 .M7__content-header .header__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 600px;
}
@media only screen and (min-width: 992px) {
  .main .main__M7 .M7__content-header .header__image {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: none;
  }
}
.main .main__M8 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0981c4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 7.5rem 0.75rem 0 0.75rem;
  scroll-margin-top: 110px; /* Altura de la navbar +- ajuste */
}
.main .main__M8 h2 {
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}
.main .main__M8 > svg {
  height: 60px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

footer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0981c4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 0 7.5rem 0;
}
footer p {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
}
footer .footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0 0 0;
}
footer .footer__social img {
  margin: 0 0.25rem;
}

.gracias {
  padding-top: 113px;
}
.gracias .gracias__hero {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5rem 0.75rem;
}
.gracias .gracias__hero .hero__content-header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 600px;
  text-align: center;
}
.gracias .gracias__hero .hero__content-header h1 {
  color: #312780;
  font-size: 3rem;
  font-weight: 700;
}
.gracias .gracias__hero .hero__content-header p {
  color: #333;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin: 1.25rem 0 1.5rem 0;
}
.gracias .gracias__hero .hero__content-header .button-primary {
  border-radius: 0.25rem;
}
.gracias .gracias__M1 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 0.75rem;
}
@media only screen and (min-width: 992px) {
  .gracias .gracias__M1 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
.gracias .gracias__M1 .M1__content-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 450px;
}
.gracias .gracias__M1 .M1__content-header h2 {
  color: #312780;
  font-size: 34px;
  font-weight: 700;
  line-height: normal;
}
.gracias .gracias__M1 .M1__content-header p {
  color: #333;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin: 1.25rem 0 1.5rem 0;
}
.gracias .gracias__M1 .M1__content-header p span {
  font-weight: 700;
}
.gracias .gracias__M1 .M1__content-header .button-primary {
  border-radius: 0.25rem;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.gracias .gracias__M1 .M1__content-image {
  max-width: 500px;
}
@media only screen and (min-width: 992px) {
  .gracias .gracias__M1 .M1__content-image {
    max-width: 750px;
  }
}
.gracias .gracias__M2 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5rem 0.75rem;
}
.gracias .gracias__M2 .M2__content-main {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 750px;
}
@media only screen and (min-width: 992px) {
  .gracias .gracias__M2 .M2__content-main {
    max-width: 1000px;
  }
}
.gracias .gracias__M2 .M2__content-main p {
  color: #312780;
  font-size: 1.5rem;
  font-weight: 500;
}
.gracias .gracias__M2 .M2__content-main .main__block {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media only screen and (min-width: 992px) {
  .gracias .gracias__M2 .M2__content-main .main__block .picture {
    margin: 0 1rem 0 2rem;
  }
}
.gracias .gracias__M2 .M2__content-main .main__block .line {
  margin: 2rem 0 2.75rem 0;
  max-width: 300px;
  width: 100%;
}
.gracias .gracias__M2 .M2__content-main .main__block > p {
  margin: 2rem 0 0 0;
  max-width: 190px;
}
@media only screen and (min-width: 992px) {
  .gracias .gracias__M2 .M2__content-main .main__block > p {
    max-width: none;
  }
}
@media only screen and (min-width: 992px) {
  .gracias .gracias__M2 .M2__content-main .main__block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.gracias .gracias__M2 .M2__content-brands {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3rem 0 0 0;
}
.gracias .gracias__M2 .M2__content-brands img {
  margin: 1rem;
  max-width: 175px;
}/*# sourceMappingURL=styles.css.map */