.section {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1200px;
  padding: calc(var(--vertical-container-padding) / 2) 0.75rem;
}

.header {
  display: flex;
  flex-direction: column;
  max-width: 460px;
  width: 100%;
}

.title {
  font-size: var(--font-size-4xl);
  line-height: 128%;
  margin-bottom: 1.5rem;
}

.title span {
  color: var(--orange-900);
}

.subtitle {
  font-size: var(--font-size-xl);
  line-height: 128%;
  margin-bottom: 1.5rem;
}

.text {
  font-size: var(--font-size-lg);
  line-height: 150%;
  margin-bottom: 3rem;
}

.videoWrapper {
  aspect-ratio: 9 / 16;
  margin: 3rem auto 0 auto;
  max-width: 360px;
  position: relative;
  width: 100%;
}

.videoContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.videoContainer iframe {
  border: none;
  border-radius: 0.75rem;
  height: 100%;
  width: 100%;
}

.playIcon {
  position: absolute;
  top: 50%;
  left: -5%;
  transform: translate(-50%, -50%);
  max-width: 80px;
  height: auto;
}

@media (min-width: 576px) {
  .playIcon {
    max-width: 100px;
  }
}

@media (min-width: 768px) {
  .header {
    max-width: 700px;
  }

  .playIcon {
    max-width: 120px;
  }
}

@media (min-width: 1200px) {
  .section {
    flex-direction: row;
    justify-content: space-between;
    padding: calc(var(--vertical-container-padding) / 2) 3.75rem;
  }

  .header {
    max-width: 525px;
  }

  .videoWrapper {
    margin: 3rem 0 0 0;
  }
}
