:root {
  /* Colors */
  --blue-900: #004e98;
  --blue-800: #0981c4;
  --blue-400: #0cc8e9;
  --blue-100: #e7fafe;
  --gray-900: #333333;
  --gray-600: #606266;
  --gray-300: #efefef;
  --gray-100: #f5f7fa;
  --green-900: #17a693;
  --green-600: #61b356;
  --green-300: #b4d32d;
  --green-100: #eff7ed;
  --orange-900: #ec8c1f;
  --orange-600: #eda350;
  --orange-100: #fdf3e8;
  --purple-900: #312780;
  --red-600: #ed5550;
  --red-100: #fde9e8;
  --yellow-100: #ffffea;
  --yellow-900: #fadc0a;

  /* Font sizes */
  --font-size-xs: 14px;
  --font-size-sm: 16px;
  --font-size-md: 18px;
  --font-size-lg: 20px;
  --font-size-xl: 24px;
  --font-size-2xl: 28px;
  --font-size-3xl: 32px;
  --font-size-4xl: 40px;
  --font-size-5xl: 48px;
  --font-size-6xl: 68px;
  --font-size-7xl: 98px;

  /* Weights */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;

  /* height for header (infobar + navbar */
  --header-mobile-height: 70px;
  --header-desktop-height: 125px;

  /* Vertical padding for navbar */
  --navbar-vertical-padding: 1rem;

  /* Vertical offset for text-underline in navbar links */
  --vertical-offset-navbar-link: 10px;

  /* Max width for sections */
  --max-container-width: 1400px;

  /* Vertical padding for sections */
  --vertical-container-padding: 7.5rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

svg {
  vertical-align: middle;
}

ul {
  list-style: none;
}

.main {
  min-height: 100vh;
}

.button-primary,
.button-secondary,
.button-info,
.button-functionality {
  border-radius: 0.25rem;
  cursor: pointer;
  font-weight: var(--font-weight-bold);
  max-width: fit-content;
  padding: 1em 2.25em;
  text-align: center;
}

.button-primary {
  background-color: var(--purple-900);
  color: var(--gray-300);
}

.button-primary:hover {
  background-color: var(--blue-900);
}

.button-secondary {
  border: var(--blue-900) 1px solid;
  color: var(--blue-900);
}

.button-secondary:hover {
  border: var(--orange-900) 1px solid;
  color: var(--orange-900);
}

.button-info {
  background-color: var(--blue-800);
  color: var(--gray-300);
  padding: 0.75em 1.75em;
}

.button-info:hover {
  background-color: var(--orange-900);
}

.button-functionality {
  border: 0;
  color: var(--gray-600);
  font-size: var(--font-size-md);
  padding: 0.5em 0.75em;
}

.button-functionality:not(.active).orange:hover {
  outline: var(--orange-600) 2px solid;
}

.button-functionality:not(.active).red:hover {
  outline: var(--red-600) 2px solid;
}

.button-functionality:not(.active).green:hover {
  outline: var(--green-900) 2px solid;
}

.button-functionality.active {
  color: #ffffff;
}

.button-functionality.orange.active {
  background-color: var(--orange-600);
}

.button-functionality.red.active {
  background-color: var(--red-600);
}

.button-functionality.green.active {
  background-color: var(--green-900);
}
