.main {
  min-height: 100vh;
}

.hero {
  align-items: center;
  background-color: var(--gray-100);
  display: flex;
  min-height: 500px;
  padding: 5rem 0.75rem;
}

.hero .wrapper {
  margin: 0 auto;
  max-width: 900px;
  text-align: center;
}

.hero h1 {
  font-size: var(--font-size-5xl);
  margin-bottom: 4rem;
}

.hero h1 span {
  color: var(--orange-900);
}
