.section {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1400px;
  padding: var(--vertical-container-padding) 0.75rem
    calc(var(--vertical-container-padding) / 2) 0.75rem;
}

.header {
  display: flex;
  flex-direction: column;
  max-width: 460px;
  text-align: center;
}

.title {
  font-size: var(--font-size-4xl);
  line-height: 128%;
  margin-bottom: 2rem;
}

.title span {
  color: var(--orange-900);
}

.text {
  font-size: var(--font-size-lg);
  line-height: 150%;
}

.text span {
  color: var(--blue-900);
}

.images {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.products {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.logos {
  box-shadow: 0px 4px 10px 0px #827e7e40;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin: 5.5rem 0 4rem 0;
  max-width: 460px;
  padding: 0.5em;
  width: 100%;
}

.logos img,
.products img {
  height: auto;
}

.logos img {
  max-width: 125px;
}

.products img {
  width: 100%;
}

@media (min-width: 576px) {
  .logos {
    padding: 1em;
  }
}

@media (min-width: 768px) {
  .header {
    max-width: 600px;
  }
}

@media (min-width: 992px) {
  .header {
    max-width: 760px;
  }

  .products {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 700px;
  }

  .logos {
    justify-content: space-between;
    max-width: none;
  }
}

@media (min-width: 1200px) {
  .section {
    padding: var(--vertical-container-padding) 3.75rem
      calc(var(--vertical-container-padding) / 2) 3.75rem;
  }

  .products {
    flex-wrap: nowrap;
    max-width: none;
  }

  .products img {
    max-width: 300px;
  }

  .logos img {
    max-width: 200px;
  }
}
