.section {
  background-color: var(--orange-100);
}

.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto;
  max-width: var(--max-container-width);
  padding: var(--vertical-container-padding) 0.75rem;
}

.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 460px;
  text-align: center;
  width: 100%;
}

.header h2 {
  font-size: var(--font-size-4xl);
}

.header h2 span {
  color: var(--orange-900);
}

.header p {
  font-size: var(--font-size-lg);
  line-height: 150%;
  margin: 1.5rem 0;
}

.header p span {
  color: var(--blue-900);
}

.buttonWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  max-width: 520px;
  place-items: center;
  width: 100%;
}

.buttonWrapper button {
  font-size: var(--font-size-sm);
  max-width: 250px;
  width: 100%;
}

@media (min-width: 768px) {
  .header {
    max-width: none;
  }

  .header p {
    max-width: 600px;
  }

  .buttonWrapper {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 520px;
  }
}

@media (min-width: 992px) {
  .wrapper {
    padding: var(--vertical-container-padding) 3.75rem;
  }
}

@media (min-width: 1200px) {
  .buttonWrapper {
    max-width: 1200px;
  }
}
