.section {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1400px;
  padding: var(--vertical-container-padding) 0.75rem 0 0.75rem;
}

.information {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 450px;
}

.container {
  display: flex;
  gap: 0.5rem;
  padding: 1em 0;
  width: 100%;
}

.container .underline {
  text-decoration: underline;
  text-underline-offset: 0.25rem;
}

.logoWrapper img {
  height: 60px;
  width: 60px;
}

.title {
  font-size: var(--font-size-md);
  line-height: 128%;
  margin-bottom: 1rem;
}

.text {
  line-height: 128%;
}

.whatsapp {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-top: 1rem;
}

.whatsapp svg {
  fill: #25d366;
}

.whatsapp:hover span:last-of-type {
  text-decoration: underline;
  text-underline-offset: 0.25rem;
}

.list {
  list-style: inside;
}

.list:first-of-type {
  margin-bottom: 2rem;
}

.list li {
  margin-bottom: 0.25rem;
}

.list li:last-of-type {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .logoWrapper img {
    height: 80px;
    width: 80px;
  }

  .information {
    max-width: 600px;
  }
}

@media (min-width: 1200px) {
  .section {
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    padding: var(--vertical-container-padding) 3.75rem 0 3.75rem;
  }

  .information {
    margin: 0;
  }
}
