.section {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: var(--max-container-width);
  padding: calc(var(--vertical-container-padding) / 2) 0.75rem;
}

.section {
  align-items: center;
}

.header {
  margin-bottom: 2rem;
  max-width: 500px;
  width: 100%;
}

.header > img {
  margin-bottom: 2rem;
}

.title {
  font-size: var(--font-size-4xl);
  line-height: 128%;
  margin-bottom: 1.25rem;
}

.title span {
  color: var(--orange-900);
}

.subtitle {
  font-size: var(--font-size-xl);
  line-height: 128%;
  margin-bottom: 2rem;
}

.text {
  font-size: var(--font-size-lg);
  line-height: 150%;
}

.heroImageWrapper {
  max-width: 500px;
  width: 100%;
}

.heroImageWrapper img {
  height: auto;
  width: 100%;
}

.heroImageWrapper,
.controlImageWrapper {
  max-width: 500px;
  width: 100%;
}

.controlImageWrapper {
  margin-bottom: 3.5rem;
}

.heroImageWrapper img,
.controlImageWrapper img {
  height: auto;
  width: 100%;
}

.container {
  background-color: var(--gray-100);
  border-radius: 0.5rem;
  max-width: 700px;
  padding: 3em;
  width: 100%;
}

.container:first-of-type {
  margin-bottom: 2rem;
}

.container .subtitle {
  margin-top: 0;
}

.container .text {
  font-size: var(--font-size-md);
  text-wrap: balance;
}

.container .text:first-of-type {
  margin-bottom: 2rem;
}

.item {
  display: flex;
  font-size: var(--font-size-xs);
  gap: 0.25rem;
  margin-bottom: 1rem;
}

.item:last-of-type {
  margin-bottom: 0;
}

.block {
  display: flex;
  flex-direction: column;
  line-height: 150%;
}

.block ul {
  list-style: inside;
  list-style-position: outside;
  padding-left: 1rem;
}

@media (min-width: 1200px) {
  .section {
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
    padding: calc(var(--vertical-container-padding) / 2) 3.75rem;
  }

  .header {
    margin-bottom: 0;
  }

  .controlImageWrapper {
    margin-bottom: 0;
  }

  .container {
    min-height: 495px;
    padding: 3em 2em;
  }

  .container:first-of-type {
    margin-bottom: 0;
  }
}
