.layout {
  padding: calc(var(--header-mobile-height) + 5rem) 0.75rem 5rem 0.75rem;
}

.contentWrapper {
  min-height: 500px; /* Agrego min-height para que no se desplacen los botones del layout al montarse el componente */
}

.title,
.subtitle,
.message {
  font-weight: var(--font-weight-bold);
  text-align: center;
}

.title {
  color: var(--orange-900);
  font-size: var(--font-size-2xl);
  margin-bottom: 1rem;
}

.subtitle,
.message {
  line-height: 150%;
  margin: 0 auto 0.5rem auto;
}

.subtitle {
  font-size: var(--font-size-md);
  max-width: 400px;
}

.message {
  font-size: var(--font-size-2xl);
  max-width: 900px;
}

.buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.buttons button:disabled {
  background-color: var(--gray-300);
  border: 0;
  color: var(--gray-600);
  cursor: auto;
}

@media (min-width: 1200px) {
  .layout {
    padding: calc(var(--header-desktop-height) + 5rem) 3.75rem 5rem 3.75rem;
  }
}
