.linksWrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 0 auto 1rem auto;
  max-width: fit-content;
  width: 100%;
}

.link {
  border: var(--gray-600) 1px solid;
  border-radius: 2rem;
  color: var(--gray-600);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-bold);
  padding: 0.5em 1.25em;
  text-align: center;
}

.link[data-section="vigia"]:not(.active):hover {
  background-color: var(--yellow-100);
  color: #000;
}

.link[data-section="vigia"].active {
  background-color: var(--yellow-900);
  color: #000;
  border-color: var(--yellow-900);
}

.link[data-section="vitran"].active {
  background-color: var(--green-300);
  border-color: var(--green-300);
  color: #000;
}

@media (min-width: 576px) {
  .linksWrapper {
    flex-direction: row;
  }
}
