.container {
  align-items: center;
  background-color: var(--blue-100);
  display: none;
  flex-wrap: wrap;
  font-size: var(--font-size-xs);
  gap: 1rem;
  justify-content: center;
  padding: calc(var(--navbar-vertical-padding) / 2) 1.75rem;
  text-align: center;
}

.container a {
  padding: 0.5em 1.25em;
}

@media (min-width: 1200px) {
  .container {
    display: flex;
    justify-content: flex-end;
  }
}
